## LFPL libraries collection

Louisville Free Public Library has a number of datasets published on their Open Data website.
One of them is the book inventory. The primary goal is to enrich that dataset with information gathered from APIs.

In [ ]:

# LFPL's collection inventory. Updated on a monthly basis.
import pandas as pd

lfpl_books = pd.read_csv('https://www.arcgis.com/sharing/rest/content/items/372216992aea4b2cb5b02837d7a48eaf/data')
lfpl_books

In [3]:
shape = lfpl_books.shape
print(f"Rows: {shape[0]:,}, Columns: {shape[1]}")

Rows: 1,674,151, Columns: 10

This is a pretty large dataset. 
We need to do some cleaning first.

In [2]:
# Leaving only Books in the dataframe
lfpl_books = lfpl_books[lfpl_books['ItemType'] == 'Book']
lfpl_books

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,06/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1674140,2654213,The Saracen's mark,"Perry, SW",NaN,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674141,2654214,The hedge fund edge: maximum profit/minimum ri...,"Boucher, Mark",NaN,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674142,2654215,"The maid, the man, and the fans: Elivis is the...","Rooks, Nancy; Gutter, Mae",NaN,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674143,2654216,"The monstrous-feminine: film, feminism, psycho...","Creed, Barbara",NaN,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674144,2654217,Common snese religion: a guide for renewing yo...,"Mann, Gerald",NaN,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00

In [3]:
# Finding how many NaN values per column
lfpl_books.isna().sum()

BibNum                 0
Title                  1
Author             65316
ISBN               36002
PublicationYear        0
ItemType               0
ItemCollection       188
ItemLocation           0
ItemPrice              0
ReportDate             0
dtype: int64

In [4]:

# Drop rows with missing values in the 'Title' column
lfpl_books = lfpl_books.dropna(subset=['Title'])
lfpl_books.loc[lfpl_books['Title'].isna() ]

Empty DataFrame
Columns: [BibNum, Title, Author, ISBN, PublicationYear, ItemType, ItemCollection, ItemLocation, ItemPrice, ReportDate]
Index: []

In [5]:
# Looking for missing author and ISBN
lfpl_books.loc[(lfpl_books['Author'].isna()) & (lfpl_books['ISBN'].isna())]

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
17100,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00
17101,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00
17102,1375916,Laptop,NaN,NaN,0,Book,Laptop,Main,900.31,06/01/2023 00:00:00
17103,1375916,Laptop,NaN,NaN,0,Book,Laptop,Main,900.31,06/01/2023 00:00:00
17104,1375916,Laptop,NaN,NaN,0,Book,Laptop,Main,900.31,06/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1669175,2647142,Little elephant's big heart.,NaN,NaN,2017,Book,Children's Board Book,Jeffersontown,5.99,06/01/2023 00:00:00
1671387,2647603,Why the Dutch are Different,NaN,NaN,0,Book,NaN,Southwest,0.00,06/01/2023 00:00:00
1672187,2646832,The Saga of Gosta Berling,NaN,NaN,2006,Book,Adult DVD,Main,74.19,06/01/2023 00:00:00
1673882,2650013,highlights into the future,NaN,NaN,0,Book,NaN,Crescent Hill,0.00,06/01/2023 00:00:00
1673883,2650014,KOREA the land the people the culture,NaN,NaN,0,Book,NaN,Shively,0.00,06/01/2023 00:00:00

Apparently the Laptops are included as books in this dataset.

In [6]:
lfpl_books[lfpl_books['Title'] == 'Laptop']

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
17100,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00
17101,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00
17102,1375916,Laptop,NaN,NaN,0,Book,Laptop,Main,900.31,06/01/2023 00:00:00
17103,1375916,Laptop,NaN,NaN,0,Book,Laptop,Main,900.31,06/01/2023 00:00:00
17104,1375916,Laptop,NaN,NaN,0,Book,Laptop,Main,900.31,06/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
17197,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00
17198,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00
17199,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00
17200,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00
17201,1375916,Laptop,NaN,NaN,0,Book,Laptop,South Central,1077.00,06/01/2023 00:00:00

In [7]:
# Dropping all the laptops from the dataset
lfpl_books = lfpl_books.loc[lfpl_books['Title'] != 'Laptop']
lfpl_books[lfpl_books['Title'] == 'Laptop']

Empty DataFrame
Columns: [BibNum, Title, Author, ISBN, PublicationYear, ItemType, ItemCollection, ItemLocation, ItemPrice, ReportDate]
Index: []

In [8]:
# Looking for missing author and ISBN again
lfpl_books.loc[(lfpl_books['Author'].isna()) & (lfpl_books['ISBN'].isna())]

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
29568,1393469,HAUNTED ENCOUNTERS: DEPARTED FAMILY AND FRIENDS,NaN,NaN,0,Book,NaN,Bon Air,0.00,06/01/2023 00:00:00
31413,1395055,Chengdu : the real China,NaN,NaN,2012,Book,Adult Non-Fiction,Remote Shelving - Main,15.00,06/01/2023 00:00:00
31414,1395055,Chengdu : the real China,NaN,NaN,2012,Book,Adult Non-Fiction,Remote Shelving - Main,15.00,06/01/2023 00:00:00
31415,1395055,Chengdu : the real China,NaN,NaN,2012,Book,Adult Non-Fiction,Remote Shelving - Main,15.00,06/01/2023 00:00:00
31585,1395581,Women of Job Corps.,NaN,NaN,2016,Book,Government Documents,Main,25.00,06/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1669175,2647142,Little elephant's big heart.,NaN,NaN,2017,Book,Children's Board Book,Jeffersontown,5.99,06/01/2023 00:00:00
1671387,2647603,Why the Dutch are Different,NaN,NaN,0,Book,NaN,Southwest,0.00,06/01/2023 00:00:00
1672187,2646832,The Saga of Gosta Berling,NaN,NaN,2006,Book,Adult DVD,Main,74.19,06/01/2023 00:00:00
1673882,2650013,highlights into the future,NaN,NaN,0,Book,NaN,Crescent Hill,0.00,06/01/2023 00:00:00
1673883,2650014,KOREA the land the people the culture,NaN,NaN,0,Book,NaN,Shively,0.00,06/01/2023 00:00:00

In [9]:
# Checking on the ItemCollection column
lfpl_books['ItemCollection'].value_counts()

ItemCollection
Adult Non-Fiction                          370233
Adult Fiction                              177792
Children's Non-Fiction                      84497
Children's Picture Book                     59912
Mystery                                     59599
Preschool  Picture Book                     51591
Children's Fiction                          47801
Children's Paperback                        45024
Adult Paperback                             42702
Teen Non-Fiction                            24377
Children's Easy Reader                      24251
Older Teen Fiction                          23996
Children's Board Book                       20010
Younger Teen  Fiction                       17699
Kentucky History                            16925
Children's Easy Reader Paperback            15945
Science Fiction                             15935
International Collection                    15923
Holiday                                     15419
Adult Reference                             11180
Children's Picture Paperback                 9836
Urban Fiction                                7605
Caldecott/Newbery                            6762
Storytime Collection                         4068
Government Documents                         3273
Oversize                                     2293
Western                                      2077
Bestsellers                                  1920
ELL Collection                               1824
Natural Resources                            1506
Adult Paperbacks Tall                         742
Children's Reference                          536
Interlibrary Loan                             174
Big Book                                       92
Children's Non-Fiction Paperback               68
Large Print                                    61
Readalongs                                     37
College Shop                                   18
Listening Device                               16
Teen Reference                                  8
Telereference                                   7
Younger Teen  Audiobook                         6
Magazines and Newspaper                         5
Adult DVD                                       4
Electronic                                      3
Children's Music                                3
Adult Audiobook                                 2
Music                                           2
Younger Teen  Paperback                         1
Book Discussion Kit                             1
College and Career Connection Reference         1
Name: count, dtype: int64

In [10]:
# Specific collections that are not relevant
item_collections = ['Listening Device','Magazines and Newspaper','Adult DVD']
lfpl_books[lfpl_books['ItemCollection'].isin(item_collections)]

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
348739,517726,Index to Best of Popular Music (BPM) (1972 - 1...,NaN,NaN,0,Book,Magazines and Newspaper,Main,50.00,06/01/2023 00:00:00
773139,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773140,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773141,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773142,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773143,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773144,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773145,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773146,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773147,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773148,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773149,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773150,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773151,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773152,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773153,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
773154,939977,Induction Loop Receiver,NaN,NaN,0,Book,Listening Device,Main,156.00,06/01/2023 00:00:00
1246358,2087356,Black Scene Millennium,NaN,NaN,2020,Book,Magazines and Newspaper,Portland,5.00,06/01/2023 00:00:00
1246359,2087356,Black Scene Millennium,NaN,NaN,2020,Book,Magazines and Newspaper,Western,0.00,06/01/2023 00:00:00
1246360,2087356,Black Scene Millennium,NaN,NaN,2020,Book,Magazines and Newspaper,Newburg,5.00,06/01/2023 00:00:00
1246361,2087356,Black Scene Millennium,NaN,NaN,2020,Book,Magazines and Newspaper,Portland,5.00,06/01/2023 00:00:00
1333236,2650082,The rapture,NaN,NaN,0,Book,Adult DVD,Northeast,9.99,06/01/2023 00:00:00
1467895,2224778,A touch of Frost: the complete series,NaN,NaN,2013,Book,Adult DVD,South Central,79.99,06/01/2023 00:00:00
1582182,2632235,The visitors,NaN,NaN,2001,Book,Adult DVD,Iroquois,10.82,06/01/2023 00:00:00
1672187,2646832,The Saga of Gosta Berling,NaN,NaN,2006,Book,Adult DVD,Main,74.19,06/01/2023 00:00:00

In [11]:
# Not interested in these rows, dropping them
lfpl_books = lfpl_books[~lfpl_books['ItemCollection'].isin(item_collections)]

In [12]:
# Dataframe info
lfpl_books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1183924 entries, 0 to 1674144
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BibNum           1183924 non-null  int64
 1   Title            1183924 non-null  object
 2   Author           1118736 non-null  object
 3   ISBN             1148050 non-null  float64
 4   PublicationYear  1183924 non-null  int64
 5   ItemType         1183924 non-null  object
 6   ItemCollection   1183737 non-null  object
 7   ItemLocation     1183924 non-null  object
 8   ItemPrice        1183924 non-null  float64
 9   ReportDate       1183924 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 99.4+ MB

The ISBN column is a float. We will convert it to string.

In [13]:
#lfpl_books['ISBN'] = lfpl_books['ISBN'].astype(str)
# From float to string

lfpl_books.loc[:, 'ISBN'] = lfpl_books['ISBN'].astype(str)
lfpl_books

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9780071605878.0,2009,Book,Adult Non-Fiction,Main,25.95,06/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408.0,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408.0,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408.0,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408.0,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1674140,2654213,The Saracen's mark,"Perry, SW",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674141,2654214,The hedge fund edge: maximum profit/minimum ri...,"Boucher, Mark",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674142,2654215,"The maid, the man, and the fans: Elivis is the...","Rooks, Nancy; Gutter, Mae",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674143,2654216,"The monstrous-feminine: film, feminism, psycho...","Creed, Barbara",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674144,2654217,Common snese religion: a guide for renewing yo...,"Mann, Gerald",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00

In [14]:
# Get rid of '.0' at the end after the conversion
#lfpl_books['ISBN'] = lfpl_books['ISBN'].astype(str).str.rstrip('.0')

lfpl_books.loc[:, 'ISBN'] = lfpl_books['ISBN'].astype(str).str.rstrip('.0')
lfpl_books

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9780071605878,2009,Book,Adult Non-Fiction,Main,25.95,06/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1674140,2654213,The Saracen's mark,"Perry, SW",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674141,2654214,The hedge fund edge: maximum profit/minimum ri...,"Boucher, Mark",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674142,2654215,"The maid, the man, and the fans: Elivis is the...","Rooks, Nancy; Gutter, Mae",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674143,2654216,"The monstrous-feminine: film, feminism, psycho...","Creed, Barbara",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1674144,2654217,Common snese religion: a guide for renewing yo...,"Mann, Gerald",nan,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00

In [15]:
# ISBN is an string now
lfpl_books.dtypes

BibNum               int64
Title               object
Author              object
ISBN                object
PublicationYear      int64
ItemType            object
ItemCollection      object
ItemLocation        object
ItemPrice          float64
ReportDate          object
dtype: object

In [16]:
# Nothing is NaN after the conversion, it's the string 'nan' instead
lfpl_books[lfpl_books['ISBN'] == 'nan']

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
4968,1348353,Stolen legacy: the Egyptian origins of western...,"James, George G. M",nan,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00
7938,1353427,A symposium in public librarianship; three add...,"University of California, Berkeley. School of ...",nan,1952,Book,Kentucky History,Main,25.0,06/01/2023 00:00:00
8150,1353740,"WWI : the Great War, 1914-1918","Brown, Hilary (Author of Two-liners for kids)",nan,2014,Book,Adult Non-Fiction,Main,15.0,06/01/2023 00:00:00
8165,1353780,LANKIE MANTITA,LESLIE PATRICELLI,nan,0,Book,NaN,Shively,0.0,06/01/2023 00:00:00
10449,1362079,Act of War,"Brown, Dale",nan,0,Book,NaN,Bon Air,0.0,06/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1674140,2654213,The Saracen's mark,"Perry, SW",nan,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00
1674141,2654214,The hedge fund edge: maximum profit/minimum ri...,"Boucher, Mark",nan,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00
1674142,2654215,"The maid, the man, and the fans: Elivis is the...","Rooks, Nancy; Gutter, Mae",nan,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00
1674143,2654216,"The monstrous-feminine: film, feminism, psycho...","Creed, Barbara",nan,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00
1674144,2654217,Common snese religion: a guide for renewing yo...,"Mann, Gerald",nan,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00

In [17]:
# Changing 'nan' to an empty string
#lfpl_books['ISBN'] = lfpl_books['ISBN'].replace('nan', '')
lfpl_books.loc[:, 'ISBN'] = lfpl_books['ISBN'].replace('nan', '')

In [100]:
# At this point we will save a copy of this cleaned dataset. It can be used later if we are offline
import os
data_folder = 'data'
csv_file_path = os.path.join(data_folder, 'lfpl_books.csv.gz')

# Save merged_df to a compressed CSV file (gzip compression)
lfpl_books.to_csv(csv_file_path, index=False, compression='gzip')

In [18]:
# Open Books API test. Trying to use compression, if possible, to reduce the size of the data transfered over the network - v1
# Exploring all the information available on the API
import requests
import gzip
from io import BytesIO

def get_book_info(book_name):
    base_url = "https://openlibrary.org/search.json"

    response = requests.get(base_url, params={'q': book_name})

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Check if the response is gzip compressed
        if 'Content-Encoding' in response.headers and response.headers['Content-Encoding'] == 'gzip':
            # Parse the JSON response from a gzip-compressed content
            with gzip.GzipFile(fileobj=BytesIO(response.content), mode='rb') as gz:
                data = gz.read().decode('iso-8859-1')
        else:
            # If not compressed, decode as utf-8
            data = response.content.decode('utf-8')

        # Display information from the JSON response
        data = response.json()

        if 'docs' in data and data['docs']:
            first_book = data['docs'][0]

            # Traverse and display information
            for key, value in first_book.items():
                print(f"{key}: {value}")
        else:
            print(f"No information found for the book: {book_name}")
    else:
        print(f"Error: Unable to fetch information for the book {book_name}")

#get_book_info("The Great Gatsby")
get_book_info("Mr. Fortune's maggot")

key: /works/OL112774W
type: work
seed: ['/books/OL6709107M', '/books/OL14545606M', '/books/OL16471246M', '/books/OL23821669M', '/books/OL21615912M', '/books/OL21028669M', '/books/OL20445431M', '/books/OL3006486M', '/books/OL5212435M', '/books/OL3938676M', '/books/OL9420148M', '/books/OL33391606M', '/books/OL25046078M', '/books/OL29515185M', '/books/OL38803780M', '/works/OL112774W', '/subjects/missionaries', '/subjects/gay', '/subjects/british', '/subjects/fiction', '/subjects/boys', '/subjects/widows', '/subjects/fiction_general', '/subjects/fiction_romance_general', '/subjects/fiction_psychological', '/subjects/brazil_fiction', '/subjects/pacific_area_fiction', '/subjects/widows_fiction', '/subjects/missionaries_fiction', '/subjects/london_(england)_fiction', '/subjects/english_literature', '/subjects/fantasy_fiction', '/subjects/place:oceania', '/subjects/place:brazil', '/authors/OL20510A']
title: Mr. Fortune's Maggot
title_suggest: Mr. Fortune's Maggot
title_sort: Mr. Fortune's Maggot
edition_count: 15
edition_key: ['OL6709107M', 'OL14545606M', 'OL16471246M', 'OL23821669M', 'OL21615912M', 'OL21028669M', 'OL20445431M', 'OL3006486M', 'OL5212435M', 'OL3938676M', 'OL9420148M', 'OL33391606M', 'OL25046078M', 'OL29515185M', 'OL38803780M']
publish_date: ['1978', 'July 30, 2004', '1980', '2001', '2011', '1927', '1948', '2021']
publish_year: [1978, 1980, 2001, 2011, 1927, 1948, 2004, 2021]
first_publish_year: 1927
number_of_pages_median: 241
lccn: ['84673750', '27026459', '2011022234', '2001004272', '75041290']
publish_place: ['New York', 'Harmondsworth', 'London']
oclc: ['2164061', '47650717', '1333886', '40524412']
contributor: ['Warner, Sylvia Townsend, 1893-']
lcc: ['PR-6045.00000000.A812 Mr2', 'PR-6045.00000000.A812M74 2001', 'PR-6045.00000000.A812 M7x 1978', 'PR-6045.00000000.A812M74 2011', 'PZ-0003.00000000.W2473 Mi 1980', 'PR-6045.00000000.A812 Mi 1980', 'PR-6045.00000000.A812', 'PR-6045.00000000.A812 M74 2001', 'PR-6045.00000000.A812 M7 1948', 'PR-6045.00000000.A812 M74 2011', 'PZ-0003.00000000.W2473 Mr2']
ddc: ['823.914', '823.912']
isbn: ['1405513780', '9780141994819', '9780241476093', '0241476097', '9781417926138', '9780404146276', '1590174585', '9781590174586', '9780860680437', '1417926139', '0141994819', '0404146279', '9781405513784', '0860680436', '9780940322837', '0940322838']
last_modified_i: 1686890517
ebook_count_i: 2
ebook_access: borrowable
has_fulltext: True
public_scan_b: False
ia: ['mrfortunesmaggot0000warn_u9d3', 'mrfortunesmaggot00warn']
ia_collection: ['americanuniversity-ol', 'china', 'drakeuniversity-ol', 'inlibrary', 'internetarchivebooks', 'johnshopkins-ol', 'printdisabled', 'universityofarizona-ol', 'wilsoncollege-ol']
ia_collection_s: americanuniversity-ol;china;drakeuniversity-ol;inlibrary;internetarchivebooks;johnshopkins-ol;printdisabled;universityofarizona-ol;wilsoncollege-ol
lending_edition_s: OL3006486M
lending_identifier_s: mrfortunesmaggot0000warn_u9d3
printdisabled_s: OL3006486M;OL3938676M
readinglog_count: 11
want_to_read_count: 10
currently_reading_count: 0
already_read_count: 1
cover_edition_key: OL3006486M
cover_i: 717600
publisher: ['Kessinger Publishing', 'Chatto and Windus', 'The Viking Press', 'New York Review Books', 'AMS Press', 'Little, Brown Book Group Limited', 'The Literary Guild', 'Penguin', 'Virago', 'Penguin Books', 'Penguin Books, Limited']
language: ['eng']
author_key: ['OL20510A']
author_name: ['Sylvia Townsend Warner']
author_alternative_name: ['Sylvia Townsend 1893- Warner']
place: ['Oceania', 'Brazil']
subject: ['Missionaries', 'Gay', 'British', 'Fiction', 'Boys', 'Widows', 'Fiction, general', 'Fiction, romance, general', 'Fiction, psychological', 'Brazil, fiction', 'Pacific area, fiction', 'Widows, fiction', 'Missionaries, fiction', 'London (england), fiction', 'English literature', 'Fantasy fiction']
id_goodreads: ['2756743', '1327033', '264840']
id_librarything: ['218087', '9295133']
ia_loaded_id: ['mrfortunesmaggot00warn']
ia_box_id: ['IA140004', 'IA40978513']
publisher_facet: ['AMS Press', 'Chatto and Windus', 'Kessinger Publishing', 'Little, Brown Book Group Limited', 'New York Review Books', 'Penguin', 'Penguin Books', 'Penguin Books, Limited', 'The Literary Guild', 'The Viking Press', 'Virago']
place_key: ['brazil', 'oceania']
subject_facet: ['Boys', 'Brazil, fiction', 'British', 'English literature', 'Fantasy fiction', 'Fiction', 'Fiction, general', 'Fiction, psychological', 'Fiction, romance, general', 'Gay', 'London (england), fiction', 'Missionaries', 'Missionaries, fiction', 'Pacific area, fiction', 'Widows', 'Widows, fiction']
_version_: 1769193120589676546
place_facet: ['Brazil', 'Oceania']
lcc_sort: PR-6045.00000000.A812 M7x 1978
author_facet: ['OL20510A Sylvia Townsend Warner']
subject_key: ['boys', 'brazil_fiction', 'british', 'english_literature', 'fantasy_fiction', 'fiction', 'fiction_general', 'fiction_psychological', 'fiction_romance_general', 'gay', 'london_(england)_fiction', 'missionaries', 'missionaries_fiction', 'pacific_area_fiction', 'widows', 'widows_fiction']
ddc_sort: 823.914

In [19]:
# Modifying the previous script to only return the ISBN number. Handling some exceptions. v1
import requests
import gzip
from io import BytesIO
import time

def get_book_isbn(book_title, max_retries=3):
    base_url = "https://openlibrary.org/search.json"
    
    for attempt in range(max_retries + 1):
        try:
            # Sending a request to the Open Books API with the book title
            response = requests.get(base_url, params={'q': book_title})

            # Check if the request was successful (status code 200)
            response.raise_for_status()

            # Check if the response is gzip compressed
            if 'Content-Encoding' in response.headers and response.headers['Content-Encoding'] == 'gzip':
                # Parse the JSON response from a gzip-compressed content
                with gzip.GzipFile(fileobj=BytesIO(response.content), mode='rb') as gz:
                    data = gz.read().decode('iso-8859-1')
            else:
                # If not compressed, decode as utf-8
                data = response.content.decode('utf-8')

            # Parse the JSON response
            data = response.json()

            if 'docs' in data and data['docs']:
                first_book = data['docs'][0]

                # Check if ISBN information is available
                if 'isbn' in first_book:
                    # Return the ISBN
                    return first_book['isbn'][0] if first_book['isbn'] else ""
                else:
                    print(f"ISBN information not found for the book: {book_title}")
                    return ""
            else:
                print(f"No information found for the book: {book_title}")
                return ""

        except requests.exceptions.HTTPError as e:
            if attempt < max_retries and e.response.status_code == 429:
                # Retry if the status code is 429 (Too Many Requests)
                retry_after = int(e.response.headers.get('Retry-After', 5))  # Default to 5 seconds if Retry-After is not present
                print(f"Retrying after {retry_after} seconds due to status code 429 (Too Many Requests)...")
                time.sleep(retry_after)
            else:
                print(f"Error: {e}")
                return ""

isbn = get_book_isbn("The Great Gatsby")
print(f"ISBN: {isbn}")

ISBN: 9781716075735

In [20]:
# Testing functionality

# Function to apply to the DataFrame
def fill_missing_isbn(row):
    if row["ISBN"] == '':
        return get_book_isbn(row["Title"])
    else:
        return row["ISBN"]

# Dictionary to test
data = {
    "Title": ["Cognitive Mapping : Past, Present, and Future","LANKIE MANTITA", "WWI : the Great War, 1914-1918", "the girl in the road", "Sharp Edges", "My First Pet"],
    "ISBN": ["", "", "", "", "","9781405309035"]
}

df = pd.DataFrame(data)

# Apply the function using lambda only to rows with missing ISBN
df["ISBN"] = df.apply(lambda row: fill_missing_isbn(row), axis=1)

print(df)

No information found for the book: LANKIE MANTITA
                                           Title           ISBN
0  Cognitive Mapping : Past, Present, and Future     1315812282
1                                 LANKIE MANTITA
2                 WWI : the Great War, 1914-1918     1869792637
3                           the girl in the road  9798791410146
4                                    Sharp Edges  9780671524098
5                                   My First Pet  9781405309035

In [21]:
# Testing with the Open Library Books API - v2
import json

def get_isbn_from_openlibrary(title):
    base_url = "http://openlibrary.org/search.json"
    params = {"title": title}
    response = requests.get(base_url, params, headers={"Accept-Encoding": "gzip"})
    if response.status_code == 429:
        retry_after = int(response.headers.get("Retry-After"))
        print(f"API rate limit exceeded. Retrying after {retry_after} seconds.")
        time.sleep(retry_after)
        return get_isbn_from_openlibrary(title)
    if response.status_code != 200:
        print(f"Error retrieving ISBN for title '{title}': {response.status_code}")
        return None
    content_type = response.headers.get("Content-Type")
    if content_type == "application/gzip":
        with gzip.decompress(response.content) as decompressed_data:
            data = json.loads(decompressed_data.decode("utf-8"))
    else:
        data = json.loads(response.content.decode("utf-8"))
    isbn = data.get("docs")[0].get("isbn")[0] if data.get("docs") and data.get("docs")[0].get("isbn") else None
    return isbn

#isbn = get_isbn_from_openlibrary("The Great Gatsby")
isbn = get_isbn_from_openlibrary("The French literary horizon")
print(f"ISBN: {isbn}")

ISBN: None

In [22]:
# Testing with the Open Library Books API - v3
# Modifying v1 to return the Author too

def get_book_data_01(book_title, max_retries=3):
    base_url = "https://openlibrary.org/search.json"
    
    for attempt in range(max_retries + 1):
        try:
            # Sending a request to the Open Books API with the book title
            response = requests.get(base_url, params={'q': book_title})

            # Check if the request was successful (status code 200)
            response.raise_for_status()

            # Check if the response is gzip compressed
            if 'Content-Encoding' in response.headers and response.headers['Content-Encoding'] == 'gzip':
                # Parse the JSON response from a gzip-compressed content
                with gzip.GzipFile(fileobj=BytesIO(response.content), mode='rb') as gz:
                    data = gz.read().decode('iso-8859-1')
            else:
                # If not compressed, decode as utf-8
                data = response.content.decode('utf-8')

            # Parse the JSON response
            data = response.json()

            if 'docs' in data and data['docs']:
                first_book = data['docs'][0]

                if first_book:

                    # Check if ISBN information is available
                    if 'isbn' in first_book:
                        # Return the ISBN
                        isbn = first_book['isbn'][0] if first_book['isbn'] else ""
                    else:
                        print(f"ISBN information not found for the book: {book_title}")
                        isbn = ""
                        #return ""
                    if 'author_name' in first_book:
                        # Return the author
                        author = first_book['author_name'][0] if first_book['author_name'] else ""
                    else:
                        print(f"Author information not found for the book: {book_title}")
                        author = ""
                        #return ""    
                    return isbn, author
            else:
                print(f"No information found for the book: {book_title}")
                return "", ""

        except requests.exceptions.HTTPError as e:
            if attempt < max_retries and e.response.status_code == 429:
                # Retry if the status code is 429 (Too Many Requests)
                retry_after = int(e.response.headers.get('Retry-After', 5))  # Default to 5 seconds if Retry-After is not present
                print(f"Retrying after {retry_after} seconds due to status code 429 (Too Many Requests)...")
                time.sleep(retry_after)
            else:
                print(f"Error: {e}")
                return "", ""

isbn, author = get_book_data_01("Mr. Fortune's maggot")
print(f"ISBN: {isbn}, Author: {author}")

ISBN: 1405513780, Author: Sylvia Townsend Warner

In [23]:
# Similar to the function above, with a few variations
# We will use this one to find missing authors and ISBNs
def get_book_data_ol(book_title):
    base_url = "https://openlibrary.org/search.json"
    params = {'q': book_title}

    try:
        headers = {'Accept-Encoding': 'gzip'}
        response = requests.get(base_url, params=params, headers=headers)

        # Check for HTTP error 429 (rate limit exceeded)
        if response.status_code == 429:
            # If "Retry-After" header is present, wait and retry
            retry_after = response.headers.get('Retry-After')
            if retry_after:
                time.sleep(int(retry_after))
                response = requests.get(base_url, params=params, headers=headers)

        response.raise_for_status()

        # Decompress gzip response
        if 'content-encoding' in response.headers and response.headers['content-encoding'] == 'gzip':
            compressed_data = BytesIO(response.content)
            with gzip.GzipFile(fileobj=compressed_data, mode='rb') as f:
                content = f.read()
        else:
            content = response.content

        data = response.json()  

        works = data.get('docs', [])

        if works:
            # Assuming the first result is the most relevant
            work = works[0]
            # Extract ISBN and Author from the response
            isbn = work.get('isbn', [])[0] if 'isbn' in work else ''
            author = work.get('author_name', [''])[0] if 'author_name' in work else ''
            return isbn, author

    except requests.exceptions.HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}, Title: {book_title}")
    except requests.exceptions.RequestException as req_err:
        print(f"Request error occurred: {req_err}, Title: {book_title}")
    except Exception as e:
        print(f"An error occurred: {e}, Title: {book_title}")

    # Return empty strings if any exception occurs or 'docs' list is empty
    return '', ''


isbn, author = get_book_data_ol("The high cost of writing")
print(f"ISBN: {isbn}, Author: {author}")

ISBN: , Author: Rebecca Caudill

In [24]:
# Records without author
(lfpl_books['Author'].isna()).sum()

65188

It will take a lot of time to get the information about the authors using API calls

In [25]:
# Records without isbn
(lfpl_books['ISBN']=="").sum()

35874

In [26]:
# Records that have missing Author and/or ISBN values missing
# We only need one book title, dropping duplicates
lfpl_books.loc[(lfpl_books['ISBN'] == '') | (lfpl_books['Author'].isna()), 'Title'].drop_duplicates().count()

54616

Using APIs has been harder than expected: many APIs will block too many requests in a certain period of time.
I tried using concurrency, but that made things even worse with the API rejecting calls.
The following portion will attempt to gather author and ISBN using the book title from the Open Library API.
For a variety of reasons the process can be interrupted(learned it the hard way), so a csv file is being updated every time a call is made.
Not recommended to be run it for testing because it takes hours to complete. The resulting csv is already available.

In [ ]:
# This one is to obtain isbn and author from the Open Libary
# Saving in a csv to don't lose our time and effort
# This takes hour to finish. There is no need to run it again: we already have the csv

import os

# Create a 'data' folder if it doesn't exist
data_folder = 'data'
os.makedirs(data_folder, exist_ok=True)

# New CSV file name and path
csv_file = os.path.join(data_folder, 'openlib_data.csv')

# Check if the CSV file exists
csv_exists = os.path.exists(csv_file)

# If the CSV file doesn't exist, create an empty DataFrame with headers
if not csv_exists:
    openlib_data = pd.DataFrame(columns=['Title', 'Author', 'ISBN'], dtype='str')
else:
    openlib_data = pd.read_csv(csv_file) 

# Check if the CSV file has any data
csv_has_data = not openlib_data.empty

# Identify the remaining rows that need processing
remaining_rows = lfpl_books.loc[(lfpl_books['ISBN'] == '') | (lfpl_books['Author'].isna()), 'Title'].drop_duplicates()

# Iterate over remaining rows
for title in remaining_rows:
    # Check if the title is already in openlib_data DataFrame
    # On subsequent calls, if the API failed to get any result, try again
    
    title_exists = title in openlib_data['Title'].values if csv_has_data else False
    
    # Check if either the ISBN or Author is missing
   
    isbn_author_missing = (
    (openlib_data.loc[openlib_data['Title'] == title, 'ISBN'].values.size > 0 and
     openlib_data.loc[openlib_data['Title'] == title, 'ISBN'].values[0] == '') and
    pd.isna(openlib_data.loc[openlib_data['Title'] == title, 'Author'].values[0])
)
    if not title_exists or isbn_author_missing:
        try:
            # Obtain ISBN and Author using the get_book_data_ol function
            isbn, author = get_book_data_ol(title)
            new_row = {'Title': title, 'Author': author, 'ISBN': isbn}
            openlib_data = openlib_data._append(pd.Series(new_row), ignore_index=True)

            # Append the new row to the CSV file
            new_row_df = pd.DataFrame([new_row])
            new_row_df.to_csv(csv_file, index=False, header=not csv_exists, mode='a')
            print(f"Saving - Title: {title}, Author: {author}, ISBN: {isbn}")

            # Update csv_exists flag
            csv_exists = True

        except Exception as e:
            print(f"Error processing title '{title}': {e}")

In [27]:
# Checking for duplicates, just in case
import os

# Read information from the openlib_data csv in the data folder
data_folder = 'data'
csv_file = os.path.join(data_folder, 'openlib_data.csv')
if os.path.exists(csv_file):
    ol = pd.read_csv(csv_file)
else:
    print("Error: openlib_data.csv not found.")
    exit()

# check for duplicates in the 'Title' column
duplicates = ol[ol.duplicated(['Title'], keep=False)]

# display the duplicates
if len(duplicates) > 0:
    print(f'The following {len(duplicates)} titles are duplicated:')
    print(duplicates['Title'])
else:
    print('There are no duplicates in the Title column.')

There are no duplicates in the Title column.

In [31]:
ol.isna().sum()

Title         0
Author    10801
ISBN      23166
dtype: int64

There is still have some missing data. 
We now will use the Google Books API see if we can collect the author and ISBN that weren't returned by the Open Library API

In [56]:
# This function has the same functionality that get_book_data_ol, used previously.
# The implementation is different because this API returns the data in a different format

def get_book_data_gb(book_title):
    # Your implementation of get_book_data_gb (Google Books API)
    base_url = "https://www.googleapis.com/books/v1/volumes"
    params = {"q": f"intitle:{book_title}", "maxResults": 1}

    # Retry mechanism with exponential backoff for HTTP 429
    retries = 3
    for attempt in range(retries):
        response = requests.get(base_url, params=params)

        if response.status_code == 200:
            # Successful response
            data = response.json()
            if "items" in data and data["items"]:
                volume_info = data["items"][0]["volumeInfo"]
                identifiers = volume_info.get("industryIdentifiers", [])

                if identifiers:
                    # Prioritize ISBN-13, then ISBN-10
                    isbn_13 = next((id.get("identifier", "") for id in identifiers if id.get("type") == "ISBN_13"), "")
                    isbn_10 = next((id.get("identifier", "") for id in identifiers if id.get("type") == "ISBN_10"), "")
                    
                    # Use ISBN-13 if available, otherwise ISBN-10
                    isbn = isbn_13 or isbn_10 
                else:
                    # No identifiers available
                    isbn = ""

                author = volume_info.get("authors", [""])[0]
                return author, isbn
            else:
                # No book information found in the Google Books API response
                return "", ""
        elif response.status_code == 429:
            # HTTP 429: Too Many Requests, wait for Retry-After seconds
            retry_after = int(response.headers.get("Retry-After", 5))
            print(f"HTTP 429 - Too Many Requests. Retrying after {retry_after} seconds...")
            time.sleep(retry_after)
        else:
            # Other HTTP errors
            print(f"Error in API call: HTTP {response.status_code}")
            time.sleep(5)  # Introduce a delay before retrying to avoid potential issues

    # Failed to retrieve book information from the Google Books API
    print("Failed to retrieve book information from the Google Books API.")
    return "", ""

get_book_data_gb("Little tortoise's starry night")

('', '9781640380165')

In [ ]:
# This script takes hours to complete
# It saves every row collected from the API(save as you go), which makes it slower(but safer)
# Read information from the openlib_data csv in the data folder
# Reloading the csv file, just in case

data_folder = 'data'
csv_file = os.path.join(data_folder, 'openlib_data.csv')

if os.path.exists(csv_file):
    ol = pd.read_csv(csv_file)
else:
    print("Error: openlib_data.csv not found.")
    exit()

# Create or load the book_info_updated csv file
output_csv = os.path.join(data_folder, 'book_info_updated.csv')

# Check if the CSV file exists
csv_exists = os.path.exists(output_csv)

if csv_exists:
    book_info_updated = pd.read_csv(output_csv)
else:
    book_info_updated = pd.DataFrame(columns=['Title', 'Author', 'ISBN'])


# Iterate over every row of the dataframe
for index, row in ol.iterrows():
    title = row['Title']
    author = row['Author']
    isbn = row['ISBN']

    # Check if the Author or the ISBN are missing
    
    if title not in book_info_updated['Title'].values:
        try:
            if pd.isna(author) or pd.isna(isbn):
                # Make a call to the Google Books API with the Book title as a parameter
                author_gb, isbn_gb = get_book_data_gb(title)
                # Keep previous values, if they were present
                new_author  = author_gb if pd.isna(author)  and author_gb   != '' else author
                new_isbn    = isbn_gb   if pd.isna(isbn)    and isbn_gb     != '' else isbn
                
                new_row = {'Title': title, 'Author': new_author, 'ISBN': new_isbn}
                print(f"Updating - Title: {title}, Author: {new_author}, ISBN: {new_isbn}")
            else:
                # Book title has the required information, saving it
                new_row = {'Title': title, 'Author': author, 'ISBN': isbn}
                print(f"Book title '{title}' has all the information. Saving and skipping API call.")

            book_info_updated = book_info_updated._append(pd.Series(new_row), ignore_index=True)

            # Append the new row to the CSV file
            new_row_df = pd.DataFrame([new_row])
            new_row_df.to_csv(output_csv, index=False, header=not csv_exists, mode='a')
            
            # Update csv_exists flag
            csv_exists = True
        except Exception as e:
            # Handle any exceptions with the API call
            print(f"Error processing title '{title}': {e}")
            # Update the values in the book_info_updated dataframe with empty strings
            new_row = {'Title': title, 'Author': '', 'ISBN': ''}
            book_info_updated = book_info_updated._append(pd.Series(new_row), ignore_index=True)

In [45]:
# Before Google Books API calls
ol.isna().sum()

Title         0
Author    10801
ISBN      23166
dtype: int64

In [46]:
# After
book_info_updated.isna().sum()

Title         0
Author     2554
ISBN      18012
dtype: int64

It's not perfect but got better. Now let's merge the dataframes

In [89]:
# Merge lfpl_books and book_info_updated based on the 'Title' column
merged_df = pd.merge(lfpl_books, book_info_updated, on='Title', how='left', suffixes=('_lfpl', '_updated'))
merged_df

,BibNum,Title,Author_lfpl,ISBN_lfpl,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,Author_updated,ISBN_updated
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9780071605878,2009,Book,Adult Non-Fiction,Main,25.95,06/01/2023 00:00:00,NaN,NaN
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00,NaN,NaN
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00,NaN,NaN
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00,NaN,NaN
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1183919,2654213,The Saracen's mark,"Perry, SW",,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00,S.W. Perry,0655663452
1183920,2654214,The hedge fund edge: maximum profit/minimum ri...,"Boucher, Mark",,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00,Mark Boucher,9780471185383
1183921,2654215,"The maid, the man, and the fans: Elivis is the...","Rooks, Nancy; Gutter, Mae",,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00,Nancy Rooks,9780533060535
1183922,2654216,"The monstrous-feminine: film, feminism, psycho...","Creed, Barbara",,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00,Barbara Creed,9781136750755
1183923,2654217,Common snese religion: a guide for renewing yo...,"Mann, Gerald",,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00,Gerald Mann,9780964727205

In [90]:
# These are the rows where the author is missing
rows_missing_author_before = merged_df['Author_lfpl'].isna().sum()
print(rows_missing_author_before)
merged_df[merged_df['Author_lfpl'].isna()]

65188

,BibNum,Title,Author_lfpl,ISBN_lfpl,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,Author_updated,ISBN_updated
16,813858,Betty Crocker Bisquick to the rescue.,NaN,9780470916575,2011,Book,Adult Non-Fiction,Remote Shelving - Main,25.00,06/01/2023 00:00:00,Betty Crocker,0470916575
17,813858,Betty Crocker Bisquick to the rescue.,NaN,9780470916575,2011,Book,Adult Non-Fiction,South Central,19.95,06/01/2023 00:00:00,Betty Crocker,0470916575
22,938,The Oxford business Spanish dictionary. Spanis...,NaN,9780198604815,2002,Book,Adult Non-Fiction,Main,21.50,06/01/2023 00:00:00,Sinda Lopez,0198604815
26,943,New houses,NaN,9780060779993,2005,Book,Adult Non-Fiction,Remote Shelving - Main,50.00,06/01/2023 00:00:00,United States. Bureau of the Census. Housing D...,NaN
27,943,New houses,NaN,9780060779993,2005,Book,Adult Non-Fiction,Bon Air,50.00,06/01/2023 00:00:00,United States. Bureau of the Census. Housing D...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1183860,2649998,Stitch crashes disney,NaN,9781368080118,2023,Book,Children's Picture Book,Shawnee,13.41,06/01/2023 00:00:00,Disney Books,9781368080118
1183861,2649998,Stitch crashes disney,NaN,9781368080118,2023,Book,Children's Picture Book,St Matthews,13.41,06/01/2023 00:00:00,Disney Books,9781368080118
1183862,2649998,Stitch crashes disney,NaN,9781368080118,2023,Book,Children's Picture Book,Southwest,13.41,06/01/2023 00:00:00,Disney Books,9781368080118
1183883,2650013,highlights into the future,NaN,,0,Book,NaN,Crescent Hill,0.00,06/01/2023 00:00:00,Heather Bingham,9780906421093
1183884,2650014,KOREA the land the people the culture,NaN,,0,Book,NaN,Shively,0.00,06/01/2023 00:00:00,Karen L. Gatz,NaN

In [91]:
# Update 'Author' column in lfpl_books if missing
merged_df['Author_lfpl'].fillna(merged_df['Author_updated'], inplace=True)
rows_missing_author_after = merged_df['Author_lfpl'].isna().sum()
print('{:,}'.format(rows_missing_author_before-rows_missing_author_after), "were updated with the author name")
merged_df[merged_df['Author_lfpl'].isna()]

61,726 were updated with the author name

,BibNum,Title,Author_lfpl,ISBN_lfpl,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,Author_updated,ISBN_updated
587,1342105,World War II : the definitive visual history :...,NaN,9781465436023,2015,Book,Adult Non-Fiction,Main,40.00,06/01/2023 00:00:00,NaN,9780756642785
588,1342105,World War II : the definitive visual history :...,NaN,9781465436023,2015,Book,Adult Non-Fiction,Crescent Hill,40.00,06/01/2023 00:00:00,NaN,9780756642785
589,1342105,World War II : the definitive visual history :...,NaN,9781465436023,2015,Book,Oversize,Fairdale,40.00,06/01/2023 00:00:00,NaN,9780756642785
590,1342105,World War II : the definitive visual history :...,NaN,9781465436023,2015,Book,Oversize,Bon Air,40.00,06/01/2023 00:00:00,NaN,9780756642785
591,1342105,World War II : the definitive visual history :...,NaN,9781465436023,2015,Book,Adult Non-Fiction,Shawnee,40.00,06/01/2023 00:00:00,NaN,9780756642785
...,...,...,...,...,...,...,...,...,...,...,...,...
1181174,2643360,Tummy time : a high-contrast sensory book to s...,NaN,9781684492664,2023,Book,Children's Board Book,South Central,10.71,06/01/2023 00:00:00,NaN,NaN
1181175,2643360,Tummy time : a high-contrast sensory book to s...,NaN,9781684492664,2023,Book,Children's Board Book,Shively,10.71,06/01/2023 00:00:00,NaN,NaN
1181304,2641343,Nat Geo Kids Sep 22,NaN,,0,Book,NaN,Childrens Main Library,0.00,06/01/2023 00:00:00,NaN,NaN
1181379,2645006,The New Yorker encyclopedia of cartoons. Volum...,NaN,978031643667,2018,Book,Adult Non-Fiction,Main,50.00,06/01/2023 00:00:00,NaN,NaN
1182049,2647143,Little tortoise's starry night,NaN,9781640380165,2017,Book,Children's Board Book,Jeffersontown,5.99,06/01/2023 00:00:00,NaN,9781640380165

Still rows without Author name, but that will be for a future project.
Let's check the ISBN

In [94]:
# These are the rows where the ISBN is missing
rows_missing_isbn_before = (merged_df['ISBN_lfpl'] == '').sum()
print(rows_missing_isbn_before)
#merged_df[merged_df['ISBN_lfpl'].isna()]
merged_df[merged_df['ISBN_lfpl'] == '' ]

35874

,BibNum,Title,Author_lfpl,ISBN_lfpl,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,Author_updated,ISBN_updated
4337,1348353,Stolen legacy: the Egyptian origins of western...,"James, George G. M",,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00,George G M James,1494861992
5438,1353427,A symposium in public librarianship; three add...,"University of California, Berkeley. School of ...",,1952,Book,Kentucky History,Main,25.0,06/01/2023 00:00:00,"University of California, Berkeley. School of ...",NaN
5565,1353740,"WWI : the Great War, 1914-1918","Brown, Hilary (Author of Two-liners for kids)",,2014,Book,Adult Non-Fiction,Main,15.0,06/01/2023 00:00:00,Stevan Eldred-Grigg,1869792637
5566,1353780,LANKIE MANTITA,LESLIE PATRICELLI,,0,Book,NaN,Shively,0.0,06/01/2023 00:00:00,NaN,NaN
6294,1362079,Act of War,"Brown, Dale",,0,Book,NaN,Bon Air,0.0,06/01/2023 00:00:00,Canada. Parliament. House of Commons.,0659021676
...,...,...,...,...,...,...,...,...,...,...,...,...
1183919,2654213,The Saracen's mark,"Perry, SW",,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00,S.W. Perry,0655663452
1183920,2654214,The hedge fund edge: maximum profit/minimum ri...,"Boucher, Mark",,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00,Mark Boucher,9780471185383
1183921,2654215,"The maid, the man, and the fans: Elivis is the...","Rooks, Nancy; Gutter, Mae",,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00,Nancy Rooks,9780533060535
1183922,2654216,"The monstrous-feminine: film, feminism, psycho...","Creed, Barbara",,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00,Barbara Creed,9781136750755
1183923,2654217,Common snese religion: a guide for renewing yo...,"Mann, Gerald",,0,Book,Interlibrary Loan,Main,0.0,06/01/2023 00:00:00,Gerald Mann,9780964727205

In [95]:
# Update 'Author' column in lfpl_books if missing
#merged_df['Author_lfpl'].fillna(merged_df['Author_updated'], inplace=True)
#rows_missing_author_after = merged_df['Author_lfpl'].isna().sum()
#print('{:,}'.format(rows_missing_author_before-rows_missing_author_after), "were updated with the author name")
#merged_df[merged_df['Author_lfpl'].isna()]

# Update 'ISBN' column in lfpl_books if missing or empty string
#merged_df['ISBN_lfpl'] = merged_df.apply(lambda row: row['ISBN_updated'] if pd.isna(row['ISBN_lfpl']) or row['ISBN_lfpl'] == '' else row['ISBN_lfpl'], axis=1)
merged_df['ISBN_lfpl'] = merged_df.apply(lambda row: row['ISBN_updated'] if row['ISBN_lfpl'] == '' else row['ISBN_lfpl'], axis=1)
rows_missing_isbn_after = (merged_df['ISBN_lfpl'] == '').sum()
print(rows_missing_isbn_after)

0

In [97]:
print('{:,}'.format(rows_missing_isbn_before-rows_missing_isbn_after), "were updated with the ISBN number")

#merged_df[merged_df['ISBN_lfpl'].isna()]
merged_df[merged_df['ISBN_lfpl'].isna()]

35,874 were updated with the ISBN number

,BibNum,Title,Author_lfpl,ISBN_lfpl,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,Author_updated,ISBN_updated
5438,1353427,A symposium in public librarianship; three add...,"University of California, Berkeley. School of ...",NaN,1952,Book,Kentucky History,Main,25.00,06/01/2023 00:00:00,"University of California, Berkeley. School of ...",NaN
5566,1353780,LANKIE MANTITA,LESLIE PATRICELLI,NaN,0,Book,NaN,Shively,0.00,06/01/2023 00:00:00,NaN,NaN
6329,1364527,Double strand deception,"McCrite, K. D. (Kathaleen Deiser)",NaN,2015,Book,Mystery,South Central,19.99,06/01/2023 00:00:00,K.D. McCrite,NaN
6330,1364528,Murder simply played,"Phillips, Rachael O.",NaN,2016,Book,Mystery,South Central,19.99,06/01/2023 00:00:00,Rachael Phillips,NaN
6331,1364529,Secrets of the Amish diary,"Phillips, Rachael O.",NaN,2016,Book,Mystery,South Central,19.99,06/01/2023 00:00:00,Rachel phillips,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1182277,482233,"The St. Johns, a parade of diversities","Cabell, James Branch, 1879-1958.",NaN,1943,Book,Adult Non-Fiction,Iroquois,25.00,06/01/2023 00:00:00,James Branch Cabell,NaN
1182453,463308,Freedom of the press from Zenger to Jefferson;...,"Levy, Leonard W. (Leonard Williams), 1923-2006",NaN,1966,Book,Adult Non-Fiction,Remote Shelving - Main,25.00,06/01/2023 00:00:00,Leonard Williams Levy,NaN
1182862,2647629,Speakin of equality: an analysis of the rhetor...,"Westen, Peter",NaN,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00,NaN,NaN
1183818,2649990,The life and times of Seargent Smith Prenties,"Shields, Joseph et al",NaN,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00,NaN,NaN
1183884,2650014,KOREA the land the people the culture,Karen L. Gatz,NaN,0,Book,NaN,Shively,0.00,06/01/2023 00:00:00,Karen L. Gatz,NaN

In [98]:

# Drop unnecessary columns
merged_df.drop(['Author_updated', 'ISBN_updated'], axis=1, inplace=True)

# Rename the updated columns
merged_df.rename(columns={'Author_lfpl': 'Author', 'ISBN_lfpl': 'ISBN'}, inplace=True)

# Display the resulting DataFrame
merged_df

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9780071605878,2009,Book,Adult Non-Fiction,Main,25.95,06/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Southwest,19.99,06/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9780307451408,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,06/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1183919,2654213,The Saracen's mark,"Perry, SW",0655663452,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1183920,2654214,The hedge fund edge: maximum profit/minimum ri...,"Boucher, Mark",9780471185383,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1183921,2654215,"The maid, the man, and the fans: Elivis is the...","Rooks, Nancy; Gutter, Mae",9780533060535,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1183922,2654216,"The monstrous-feminine: film, feminism, psycho...","Creed, Barbara",9781136750755,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00
1183923,2654217,Common snese religion: a guide for renewing yo...,"Mann, Gerald",9780964727205,0,Book,Interlibrary Loan,Main,0.00,06/01/2023 00:00:00

In [99]:
# Specify the file path
data_folder = 'data'
csv_file_path = os.path.join(data_folder, 'lfpl_new.csv.gz')

# Save merged_df to a compressed CSV file (gzip compression)
merged_df.to_csv(csv_file_path, index=False, compression='gzip')